<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WMIRepair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WMIRepair.Properties.Settings>
            <setting name="DefaultLaunchPermission" serializeAs="String">
                <value>01,00,04,80,5c,00,00,00,6c,00,00,00,00,00,00,00,14,00,00,00,02,00,48,00,03,00,00,00,00,00,18,00,1f,00,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00,00,00,14,00,1f,00,00,00,01,01,00,00,00,00,00,05,04,00,00,00,00,00,14,00,1f,00,00,00,01,01,00,00,00,00,00,05,12,00,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00</value>
            </setting>
            <setting name="DefaultLaunchPermission_Accessmask" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>S-1-5-32-544:31</string>
                        <string>S-1-5-4:31</string>
                        <string>S-1-5-18:31</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MachineLaunchRestriction" serializeAs="String">
                <value>01,00,04,80,78,00,00,00,88,00,00,00,00,00,00,00,14,00,00,00,02,00,64,00,04,00,00,00,00,00,18,00,1f,00,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00,00,00,14,00,0b,00,00,00,01,01,00,00,00,00,00,01,00,00,00,00,00,00,18,00,1f,00,00,00,01,02,00,00,00,00,00,05,20,00,00,00,32,02,00,00,00,00,18,00,1f,00,00,00,01,02,00,00,00,00,00,05,20,00,00,00,2f,02,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00</value>
            </setting>
            <setting name="MachineAccessRestriction" serializeAs="String">
                <value>01,00,04,80,74,00,00,00,84,00,00,00,00,00,00,00,14,00,00,00,02,00,60,00,04,00,00,00,00,00,14,00,07,00,00,00,01,01,00,00,00,00,00,01,00,00,00,00,00,00,14,00,03,00,00,00,01,01,00,00,00,00,00,05,07,00,00,00,00,00,18,00,07,00,00,00,01,02,00,00,00,00,00,05,20,00,00,00,32,02,00,00,00,00,18,00,07,00,00,00,01,02,00,00,00,00,00,05,20,00,00,00,2f,02,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00</value>
            </setting>
            <setting name="MachineAccessRestriction_AccessMask" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>S-1-5-7:3</string>
                        <string>S-1-5-32-562:7</string>
                        <string>S-1-1-0:7</string>
                        <string>S-1-5-32-559:7</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MachineLaunchRestriction_AccessMask" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>S-1-5-32-544:31</string>
                        <string>S-1-5-32-562:31</string>
                        <string>S-1-1-0:11</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CheckFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>%SYSTEMROOT%\SYSTEM32\WBEM\WMIPRVSE.EXE</string>
                        <string>%SYSTEMROOT%\SYSTEM32\WBEM\MOFCOMP.EXE</string>
                        <string>%SYSTEMROOT%\SYSTEM32\WBEM\SCRCONS.EXE</string>
                        <string>%SYSTEMROOT%\SYSTEM32\WBEM\UNSECAPP.EXE</string>
                        <string>%SYSTEMROOT%\SYSTEM32\WBEM\WBEMTEST.EXE</string>
                        <string>%SYSTEMROOT%\SYSTEM32\WBEM\WINMGMT.EXE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RegisterWMI" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>net stop wmiapsrv</string>
                        <string>net stop winmgmt</string>
                        <string>winmgmt /salvagerepository</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CheckRegKeys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SOFTWARE\Classes\AppID\{8BC3F05E-D86B-11D0-A075-00C04FB68820}\@=Windows Management and Instrumentation</string>
                        <string>SOFTWARE\Classes\AppID\{8BC3F05E-D86B-11D0-A075-00C04FB68820}\LocalService=winmgmt</string>
                        <string>SOFTWARE\Classes\CLSID\{8BC3F05E-D86B-11D0-A075-00C04FB68820}\@=Windows Management and Instrumentation</string>
                        <string>SOFTWARE\Classes\CLSID\{8BC3F05E-D86B-11D0-A075-00C04FB68820}\LocalService=winmgmt</string>
                        <string>SOFTWARE\Classes\AppID\{73E709EA-5D93-4B2E-BBB0-99B7938DA9E4}\@=Microsoft WMI Provider Subsystem Host</string>
                        <string>SOFTWARE\Classes\AppID\{49BD2028-1523-11D1-AD79-00C04FD8FDFF}\@=Microsoft WBEM Unsecured Apartment</string>
                        <string>SOFTWARE\Microsoft\WBEM\Scripting\Default Namespace=root\cimv2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WMILaunchPermission_Accessmask" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>S-1-5-32-544:31</string>
                        <string>S-1-5-11:27</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WMILaunchPermission" serializeAs="String">
                <value>01,00,14,80,64,00,00,00,74,00,00,00,14,00,00,00,30,00,00,00,02,00,1c,00,01,00,00,00,11,00,14,00,04,00,00,00,01,01,00,00,00,00,00,10,00,10,00,00,02,00,34,00,02,00,00,00,00,00,18,00,1f,00,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00,00,00,14,00,1b,00,00,00,01,01,00,00,00,00,00,05,0b,00,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00,01,02,00,00,00,00,00,05,20,00,00,00,20,02,00,00</value>
            </setting>
            <setting name="WMIAccessPermission_Accessmask" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NT AUTHORITY\SELF:7</string>
                        <string>NT AUTHORITY\SYSTEM:3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WMIRootNamespacePermission_Accessmask" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>S-1-5-11:19</string>
                        <string>S-1-5-19:19</string>
                        <string>S-1-5-20:19</string>
                        <string>S-1-5-32-544:393279</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RegisterCustomDLL" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>%systemroot%\system32\actxprxy.dll</string>
                        <string>%systemroot%\system32\atl.dll</string>
                        <string>%systemroot%\system32\Bitsprx2.dll</string>
                        <string>%systemroot%\system32\Bitsprx3.dll</string>
                        <string>%systemroot%\system32\browseui.dll</string>
                        <string>%systemroot%\system32\cryptdlg.dll</string>
                        <string>%systemroot%\system32\dssenh.dll</string>
                        <string>%systemroot%\system32\gpkcsp.dll</string>
                        <string>%systemroot%\system32\initpki.dll</string>
                        <string>%systemroot%\system32\jscript.dll</string>
                        <string>%systemroot%\system32\mshtml.dll</string>
                        <string>%systemroot%\system32\msi.dll</string>
                        <string>%systemroot%\system32\mssip32.dll</string>
                        <string>%systemroot%\system32\msxml.dll</string>
                        <string>%systemroot%\system32\msxml3.dll</string>
                        <string>%systemroot%\system32\msxml3a.dll</string>
                        <string>%systemroot%\system32\msxml3r.dll</string>
                        <string>%systemroot%\system32\msxml4.dll</string>
                        <string>%systemroot%\system32\msxml4a.dll</string>
                        <string>%systemroot%\system32\msxml4r.dll</string>
                        <string>%systemroot%\system32\msxml6.dll</string>
                        <string>%systemroot%\system32\msxml6r.dll</string>
                        <string>%systemroot%\system32\muweb.dll</string>
                        <string>%systemroot%\system32\ole32.dll</string>
                        <string>%systemroot%\system32\oleaut32.dll</string>
                        <string>%systemroot%\system32\Qmgr.dll</string>
                        <string>%systemroot%\system32\Qmgrprxy.dll</string>
                        <string>%systemroot%\system32\rsaenh.dll</string>
                        <string>%systemroot%\system32\sccbase.dll</string>
                        <string>%systemroot%\system32\scrrun.dll</string>
                        <string>%systemroot%\system32\shdocvw.dll</string>
                        <string>%systemroot%\system32\shell32.dll</string>
                        <string>%systemroot%\system32\slbcsp.dll</string>
                        <string>%systemroot%\system32\softpub.dll</string>
                        <string>%systemroot%\system32\urlmon.dll</string>
                        <string>%systemroot%\system32\userenv.dll</string>
                        <string>%systemroot%\system32\vbscript.dll</string>
                        <string>%systemroot%\system32\Winhttp.dll</string>
                        <string>%systemroot%\system32\wintrust.dll</string>
                        <string>%systemroot%\system32\wuapi.dll</string>
                        <string>%systemroot%\system32\wuaueng.dll</string>
                        <string>%systemroot%\system32\wuaueng1.dll</string>
                        <string>%systemroot%\system32\wucltui.dll</string>
                        <string>%systemroot%\system32\wucltux.dll</string>
                        <string>%systemroot%\system32\wups.dll</string>
                        <string>%systemroot%\system32\wups2.dll</string>
                        <string>%systemroot%\system32\wuweb.dll</string>
                        <string>%systemroot%\system32\wuwebv.dll</string>
                        <string>%systemroot%\system32\wbem\wmisvc.dll</string>
                        <string>%systemroot%\system32\Xpob2res.dll</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WMIRepair.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
